{% include JB/analytics %}

<script>
	(function(d, s, id) {
    	var js, fjs = d.getElementsByTagName(s)[0];
    	if (d.getElementById(id)) return;
	    js = d.createElement(s); js.id = id;
	    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    	fjs.parentNode.insertBefore(js, fjs);
   		}
   		(document, 'script', 'facebook-jssdk')
   	);
</script>

<script src="{{ BASE_PATH }}/assets/js/jquery.min.js"></script>
<script src="{{ BASE_PATH }}/assets/js/jquery.nav.js"></script>
<script src="{{ BASE_PATH }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ BASE_PATH }}/assets/js/jasny-bootstrap.min.js"></script>
<script src="{{ BASE_PATH }}/assets/js/jquery.easing.min.js"></script>
<script src="{{ BASE_PATH }}/assets/js/main.js"></script>	
<script src="{{ BASE_PATH }}/assets/js/bootstrap.min.js"></script>

<!--Custom script loaded by children page-->
{% if page.js %}<script src="{{ BASE_PATH }}/assets/js/{{ page.js }}"></script>{% endif %}

<script src="{{ BASE_PATH }}/assets/js/tether.min.js"></script>
<script src="{{ BASE_PATH }}/assets/js/jquery.mixitup.js"></script>
<script src="{{ BASE_PATH }}/assets/js/jquery.easing.min.js"></script>