<style>
.list-style li i{
  color: #4da5e2;
  padding-left: 20px;
}
.a {
  color: #0275d8 !important;
}
</style>

{% if page.remarque == nil or page.remarque == '' %}
{% else %}
{{ page.remarque }}
{% endif %}

{% assign centres = page.centres %}

<div id="container">

  <div class="team-members-tow mtb-50">

    {% if centres[1] %}
    <div class="sub-title">
        <span>Choisissez votre centre</span>
    </div>
    <div class="row">
      {% for centre in centres %}
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#{{centre.name | replace: ' ', '_' | replace: '&', 'et' }}" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">{{ centre.name }}</a>
      </div>
      {% endfor %}
    </div>
    {% endif %}

{% for centre in centres %}
  <span id="{{centre.name | replace: ' ', '_' | replace: '&', 'et' }}"></span>
    <div class="sub-title">
      <span>{{ centre.name }}</span>
    </div>

{% if centre.map == nil or centre.map == '' %}
{% else %}
<p class="text-center"><img src="{{ centre.map }}"/></p>
{% endif %}

{% assign compteur = 1 %}
{% for silo in centre.silos %}
<h5>{{compteur}}. Silo {{ silo.color }}</h5> 

{% if silo.stages[1] %}
{% assign pluriel = true %}
{% else %}
{% assign pluriel = false %}
{% endif %}

<p>
{% if pluriel %}Ce silo comprend les stages suivants :
{% else %}Ce silo comprend le stage suivant :
{% endif %}
</p>
<ul class="arrow-list list-style arrow-list-three">
  {% assign liste_stages = silo.stages | sort %}
  {% for stage in liste_stages %}
  <li><i class="fa fa-arrow-right grey" aria-hidden="true"></i>{{ stage }}</li>
  {% endfor %}
</ul>
{% if silo.address == nil or silo.address == '' %}
{% else %}
<p>{{ silo.address }}</p>
{% endif %}


{% assign compteur = compteur | plus:1 %}
{% endfor %}

{% endfor %}
  

  </div>

</div>