<!-- gris représente une bulle grisée -->
{% if include.offline == false or include.offline == 'false' or include.offline == nil or include.offline == '' %}
{% assign gris = false %}
{% else %}
{% assign gris = true %}
{% endif %}

<!-- adresse vers laquelle la bulle doit pointer -->
{% if include.href %}
{% assign href = include.href %}
{% else %}
{% assign href = "https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559" %}
{% endif %}

<!-- doit s'ouvrir sur une autre page ou non -->
{% if include.autre_page %}
{% assign autre_page = '_blank' %}
{% else %}
{% assign autre_page = '_self' %}
{% endif %}

<!--  Change la couleur du bouton de la bulle -->
{% if include.couleur_bouton %}
{% assign couleur_bouton = include.couleur_bouton %}
{% else %}
{% assign couleur_bouton = 'info' %}
{% endif %}

<!-- Change le texte du bouton -->
{% if gris == true %}
{% assign bouton = 'Bientôt disponible' %}
{% elsif include.bouton %}
{% assign bouton = include.bouton %}
{% else %}
{% assign bouton = Inscription %}
{% endif %}

<!-- Change le titre de l'overlay -->
{% if include.titre_overlay %}
{% assign titre_overlay = include.titre_overlay %}
{% else %}
{% assign titre_overlay = include.titre %}
{% endif %}

<!-- Pour charger limage plus tard -->
{% if include.loading %}
{% assign loading = 'lazy' %}
{% else %}
{% assign loading = 'eager' %}
{% endif %}

{% if gris == true %}
{% else %}
<a href="{{ href }}" target="{{ autre_page }}" style="color: #fff !important;">
{% endif %}
  <figure>
    <img src="{{ include.src }}" alt="{{ include.alt }} {{ include.titre }}" loading="{{ loading }}" class="img-fluid" style="border-radius: 5%;{% if gris %}opacity: 0.2; filter: alpha(opacity=20);{% endif %}">
    <div class="desktop image-overlay bulle3">
      <div class="overlay-text text-center">
        <div class="info-text">
          <strong>{{ titre_overlay}}</strong>
        </div>

        <hr class="small-divider border-white">
        
          <button class="btn btn-block btn-{{ couleur_bouton}}-filled" style="margin-top: 15px; color: #fff !important;">
            <i class="fa fa-edit"></i> {{ bouton }}
          </button>
      
      </div>
    </div>
  </figure>
{% if gris == true %}
{% else %}
</a>
{% endif %}