<!-- Pour afficher les images uniquement lors du défilement de la page -->
{% if forloop.index > 6 %}
{% assign loading = 'lazy' %}
{% else %}
{% assign loading = 'eager' %}
{% endif %}

{% capture categories %}
{% for cat in anniversaire.categorie %}{{ cat }} {% endfor %}
{% endcapture %}

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mix {{categories}}">
  <a data-toggle="modal" data-target="#{{anniversaire.name | replace: ' ', '_' | replace: '&', 'et' }}">
    <div class="card-2">
      <div class="image">
        <img src="{{ BASE_PATH }}{{ anniversaire.img }}" class="img-fluid" loading="{{ loading }}">
      </div>
      <div class="card-block">
        <h3 class="card-title">{{ anniversaire.name }}</h3>
        <div class="meta">
          {% if anniversaire.nouveau %}<span class="badge badge-success" style="float: right;">NOUVEAU</span>{% endif %}
          {{anniversaire.age}}
        </div>
        <div class="description">
          <center><span class="label label-pill label-info-filled">Plus d'info</span></center>
        </div>
      </div>
      <div class="extra">
        <span>
          <i class="fa fa-map-marker"> {{ anniversaire.lieu }}</i>
        </span>
      </div>
    </div>
  </a>
</div>

<div class="modal fade" id="{{anniversaire.name | replace: ' ', '_' | replace: '&', 'et' }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card-2">
      <div class="image">
        <img src="{{ BASE_PATH }}{{ anniversaire.img }}" class="img-fluid">
      </div>
      <div class="card-block">
        <h3 class="card-title">{{ anniversaire.name }}</h3>
        <div class="meta">
          {% if anniversaire.nouveau %}<span class="badge badge-success" style="float: right;">NOUVEAU</span>{% endif %}
          {{anniversaire.age}}<br/>
          {{ anniversaire.infos }}
        </div>
        <div class="description">
          {{ anniversaire.description }}
        </div>
      </div>
      <div class="extra">
        <span>
          <i class="fa fa-map-marker"> {{ anniversaire.lieu }}</i>
        </span>
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 5px;">Autre activité</button>
        <a class="btn btn-info-filled" href="
          {% if page.url contains 'activites' %}
            /anniversaires/reservation/
          {% else %}
            /anniversaires/reservation/
          {% endif %}
          " target="_blank">Réservation</a>
      </div>
    </div>
  </div>
</div>