<!-- Pour afficher les images uniquement lors du défilement de la page -->
{% if forloop.index > 6 %}
{% assign loading = 'lazy' %}
{% else %}
{% assign loading = 'eager' %}
{% endif %}

{% assign stage_modal = stage.name | replace: ' ', '_' | replace: '&', 'et' %}

<!--Pour définir si l'on utilise les onglets de ville ou pas -->
<!--
#TODO
Inclure la variable GLOBALE dans un fichier de config
-->
{% if site.data.stages.GLOBAL_activation_onglets == true and stage.activation_onglets == true %}
{% assign SETTINGS_onglets = true %}
{% else %}
{% assign SETTINGS_onglets = false %}
{% endif %}

{% case stage.categorie %}
  {% when 'Internat' %}
  {% assign categorie = 'internat' %}
  {% when 'Activités artistiques et loisirs' %}
  {% assign categorie = 'artistiques' %}
  {% when 'Découvertes sportives et culturelles' %}
  {% assign categorie = 'culturelles' %}
  {% when 'Activités fun' %}
  {% assign categorie = 'fun' %}
  {% when 'Les petits bouts' %}
  {% assign categorie = 'bouts' %}
  {% when 'Danse et Gymnastique' %}
  {% assign categorie = 'danse' %}
  {% when 'Activités sportives' %}
  {% assign categorie = 'sportives' %}
{% endcase %}

<style>
.meta:hover {
  color: #444 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #4da5e2;
}
</style>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mix {{categorie}}">
  <a data-toggle="modal" data-target="#stage_enfants_{{ stage_modal }}">
  <div class="card-2">
    <div class="image"><img src="{{ stage.img }}" alt="stage enfants {{ stage.name }}" loading="{{ loading }}"></div>

    <div class="card-block">
      <h3 class="card-title">{{ stage.name }}</h3>
      <div class="meta" style="color: #444 !important">
        {% if stage.nouveau %}<span class="badge badge-success" style="float: right;">NOUVEAU</span>{% endif %}
        {% for item in stage.location %}
          {% if forloop.first %}
            {{ item.age }}
          {% elsif item.age == stage.location[0].age %}
          {% else %}
             / {% if item.age == "" or item.age == nil %}{{ stage.location[0].age }}{% else %}{{ item.age }}{% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="description">
        <center><span class="label label-pill label-info-filled">Plus d'info</span></center>
      </div>
    </div>


    <div class="extra">
      <span>
        <i class="fa fa-map-marker"> {% for item in stage.location %}
          {% if forloop.first %}
            {{ item.ville }}
          {% else %}
             - {% if item.ville == "" or item.ville == nil %}{{ stage.location[0].ville }}{% else %}{{ item.ville }}{% endif %}
          {% endif %}
        {% endfor %}
        </i>
      </span>
    </div>

  </div>
  </a>
</div>

<div class="modal fade" id="stage_enfants_{{ stage_modal }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card-2">
        <div class="image">
          <img src="{{ stage.img }}" alt="stage {{ stage.name }}" loading="lazy">
        </div>
        <div class="card-block">
          <h3 class="card-title">{{ stage.name }}</h3>
        </div>
      </div>


      {% if SETTINGS_onglets == true %}

        {% if stage.location[0].ville == "" or stage.location[0].ville == nil %}
        {% else %}
        <div class="tabs-accordions">
          <div class="container">
            <div class="row">

              <div class="col-md-12">
                <div id="round-tab">
                  
                  <!-- Onglets pour chacune des villes -->
                  <ul class="nav nav-tabs" role="tablist">
                    {% for onglet in stage.location %}

                      {% if onglet.ville == "Brabant Wallon" %}
                      {% assign ville_mobile = "Brabant" %}
                      {% elsif onglet.ville == "Bruxelles" %}
                      {% assign ville_mobile = "BXL" %}
                      {% else %}
                      {% assign ville_mobile = "Liège" %}
                      {% endif %}

                    <li class="nav-item">
                      <a class="nav-link{% if forloop.index0 == 0 %} active{% endif %}" data-toggle="tab" href="#{{ stage_modal }}{{onglet.ville | replace: ' ', '_' | replace: 'è', 'e' }}" role="tab"><span class="desktop">{{ onglet.ville }}</span><span class="mobile">{{ ville_mobile }}</span></a>
                    </li>

                    {% endfor %}

                  </ul>

                  <div class="tab-content">

                    {% for onglet in stage.location %}

                        {% if onglet.ville == "" or onglet.ville == nil %}
                        {% else %}
                        <div class="tab-pane{% if forloop.index0 == 0 %} active{% endif %}" id="{{ stage_modal }}{{onglet.ville | replace: ' ', '_' | replace: 'è', 'e' }}" role="tabpanel">
                          <div class="meta">
                            {% if stage.nouveau %}<span class="badge badge-success" style="float: right;">NOUVEAU</span>{% endif %}
                            {% if onglet.age == "" or onglet.age == nil %}
                            {{ stage.location[0].age }}
                            {% else %}
                            {{ onglet.age }}
                            {% endif %}
                          </div>
                          <hr>
                          <div class="description">
                            {% if onglet.description == "" or onglet.description == nil %}
                            {{ stage.location[0].description }}
                            {% else %}
                            {{ onglet.description }}

                            {% include utils/ville_seo.html %}

                            {% endif %}
                          </div>
                          {% if onglet.infos[0].info_line == "" or onglet.infos[0].info_line == nil %}
                          {% else %}
                            <hr>
                            <div class="meta">
                              {% for info in onglet.infos %}
                                <i class="fa fa-hand-o-right"> {{ info.info_line }}</i><br/>
                              {% endfor %}
                            </div>
                          {% endif %}
                          {% if onglet.centres[0] == "" or onglet.centres[0] == nil %}
                          {% else %}
                          <hr>
                            {% for centre in onglet.centres %}
                              <div class="extra">
                                <span>
                                  <i class="fa fa-map-marker"> {{ centre }}</i>
                                </span>
                              </div>
                            {% endfor %}
                          {% endif %}
                        </div>
                        {% endif %}

                    {% endfor %}

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

      {% else %}

        {% if stage.location[0].ville == "" or stage.location[0].ville == nil %}
        {% else %}
        <div class="tabs-accordions">
          <div class="container">
            <div class="row">

              <div class="col-md-12">
                <div id="round-tab">
                  
                  <!-- Onglets pour chacune des villes -->

                  <div class="tab-content">

                    {% if stage.location[0].ville == "" or stage.location[0].ville == nil %}
                    {% else %}
                      <div class="meta">
                        {% if stage.nouveau %}<span class="badge badge-success" style="float: right;">NOUVEAU</span>{% endif %}
                        {% if stage.location[0].age == "" or stage.location[0].age == nil %}
                        {{ stage.location[0].age }}
                        {% else %}
                        {{ stage.location[0].age }}
                        {% endif %}
                      </div>
                      <hr>
                      <div class="description">
                        {% if stage.location[0].description == "" or stage.location[0].description == nil %}
                        {{ stage.location[0].description }}
                        {% else %}
                        {{ stage.location[0].description }}
                        {% include utils/ville_seo.html %}
                        {% endif %}
                      </div>
                      {% if stage.location[0].infos[0].info_line == "" or stage.location[0].infos[0].info_line == nil %}
                      {% else %}
                        <hr>
                        <div class="meta">
                          {% for info in stage.location[0].infos %}
                            <i class="fa fa-hand-o-right"> {{ info.info_line }}</i><br/>
                          {% endfor %}
                        </div>
                      {% endif %}
                      {% if stage.location[0].centres[0] == "" or stage.location[0].centres[0] == nil %}
                      {% else %}
                      <hr>
                        {% for centre in stage.location[0].centres %}
                          <div class="extra">
                            <span>
                              <i class="fa fa-map-marker"> {{ centre }}</i>
                            </span>
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endif %}


                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

      {% endif %}

      <div class="modal-footer" style="border-top: 0px;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 5px;">{% if page.url contains 'activites' %}Autre activité{% else %}Autre stage{% endif %}</button>
        <a class="btn btn-info-filled" href="
          {% if page.url contains 'extrascolaire' %}
            https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=6
          {% else %}
            https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4
          {% endif %}
          " target="_blank">Inscription</a>
      </div>
    </div>
  </div>
</div>