<div class="desktop">

<div class="col-md-12">
  <div class="massage-box alert-info">
    <strong>
      <i class="fa fa-info"></i>
    </strong>
    <p>Chers parents,</p>
    <p>Pour vous inscrire aux cours de natation, veuillez nous contacter au 010/22.73.96 afin d'aménager au mieux vos et nos disponibilités.</p>
    <p>D'avance, un grand merci.</p>
    <p><strong>L'équipe de natation du CFS</strong></p>
  </div>
</div>

</div>

<div class="mobile">

<div class="col-md-4">
      <a class="btn btn-block btn-info-filled" data-toggle="modal" data-target="#infos_cours_adultes" style="color:white; margin-bottom: 20px;">INFOS IMPORTANTES</a>
</div>
<div class="modal fade" id="infos_cours_adultes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card-2">
      <div class="card-block">
        <h3 class="card-title text-center">INFORMATIONS</h3>
        <div class="description">
          <p>Chers parents,</p>
    <p>Pour vous inscrire aux cours de natation, veuillez nous contacter au 010/22.73.96 afin d'aménager au mieux vos et nos disponibilités.</p>
    <p>D'avance, un grand merci.</p>
    <p><strong>L'équipe de natation du CFS</strong></p>
        </div>
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 5px;">Fermer</button>
        <a class="btn btn-info-filled" href="https://www12.iclub.be/myiclub.asp?ClubID=559&LG=FR" target="_blank">MyCFS</a>
      </div>
    </div>
  </div>
</div>

</div>
