<!-- <div class="desktop">

<div class="col-md-12">
  <div class="massage-box alert-info">
    <strong>
      <i class="fa fa-info"></i>
    </strong>
    <p>Le CFS met tout en œuvre pour proposer des stages dans les meilleures conditions pour VOS enfants tout en respectant les protocoles sanitaires de l’ONE.</p>
    <p>Merci de bien prendre connaissance de protocole général et du protocole propre à votre lieu de stage disponible dans le menu <a href="/stages/protocole/general/">Stages enfants > Organisation des stages > Organisation générale.</a></p>
    <p>Si vous avez des questions, n’hésitez pas à nous envoyer un mail via notre <a href="/contact">formulaire de contact</a>.</p>
  </div>
</div>

</div>

<div class="mobile">

<div class="col-md-4">
      <a class="btn btn-block btn-info-filled" data-toggle="modal" data-target="#infos_cours_adultes" style="color:white; margin-bottom: 20px;">INFOS IMPORTANTES</a>
</div>
<div class="modal fade" id="infos_cours_adultes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card-2">
      <div class="card-block">
        <h3 class="card-title text-center">INFORMATIONS</h3>
        <div class="description">
          <p>Le CFS met tout en œuvre pour proposer des stages dans les meilleures conditions pour VOS enfants tout en respectant les protocoles sanitaires de l’ONE.</p>
          <p>Merci de bien prendre connaissance de protocole général et du protocole propre à votre lieu de stage disponible dans le menu <a href="/stages/protocole/general/">Stages enfants > Organisation des stages > Organisation générale.</a></p>
          <p>Si vous avez des questions, n’hésitez pas à nous envoyer un mail via notre <a href="/contact">formulaire de contact</a>.</p>
        </div>
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 5px;">Fermer</button>
        <a class="btn btn-info-filled" href="https://www12.iclub.be/myiclub.asp?ClubID=559&LG=FR" target="_blank">MyCFS</a>
      </div>
    </div>
  </div>
</div>

</div> -->